.footer {
  background-color: #212d45;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.footer_text {
  font-weight: 400;
  margin: 20px;
  color: #f15048;

  h1::first-letter {
    color: white;
  }
}