.content_wrap {
  display: flex;
  justify-content: space-between;

}

.img_item {
  height: 40vw;
  min-width: 400px;
  max-width: 600px;
}

.content_right {
  padding-top: 100px;
}

.header_text {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px;

  h2::first-letter {
    color: #f15048;
  }
}

