.body_5 {
  background-image: url("../img/imageS5.png");
  background-position: 60% 50%;
  background-repeat: no-repeat;
  height: 600px;
}

.content_text_right {
  font-size: 3rem;
  text-align: right;
  max-width: 45%;
margin-left: auto;

}

.button {
  margin: 30px 30px 30px 50px;
}

.text {
  font-size: 0.875rem;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 50px;
  line-height: 1.6;
}