
.body_2 {
min-height: 700px;
}

.content_text_left {
  position: relative;
  max-width: 40%;
  text-align: left;
}

.imageS2 {
  width: 100%;
  min-width: 400px;
  margin-top: -30px;
  background-size: cover;
  object-fit: cover;
}

.header_text_left {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 20px 20px 20px 50px;
}

.text_left {
  font-size: 0.875rem;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 50px;
  line-height: 1.6;
}