
.body_1 {
  background-image: url("../img/imageS1.png");
  background-position: 50% 50%;
}

.body_flex {
  display: flex;
  justify-content: space-between;
}

.logo_red {
  width: 400px;
  margin-top: 50px;
}

.content {
  position: relative;
  max-width: 60%;
  text-align: right;
}

.top {
 // background-color: rgba(255, 255, 255, 0.2);
  }

.bottom {
  //background-color: rgba(255, 255, 255, 0.2);
}

.header_text {
  font-weight: 700;
  font-size: 3rem;
  margin: 20px;
  line-height: 0.5;
}

.text_red {
  color: #f15048 !important;
}

.text_white {
  color: #ffffff !important;
}

.font_text {
  font-size: 0.875rem;
  font-style: italic;
  font-family: 'Open Sans',sans-serif;
  margin: 20px 50px;
  line-height: 1.6;
  color: #ffffff !important;
}

@media (max-width: 769px) {
  .logo_red {
    width: 300px;
  }

  .content {
    max-width: 70%;
  }

  .header_text {
    font-size: 2rem;
    line-height: 0.8;
  }
}

@media (max-width: 575px) {
  .body-1 {
    background-position: 10.81% 50%;
  }

  .body_flex {
    display: block;
  }

  .logo_red {
    width: 200px;
    margin-top: 20px;
  }

  .content {

    max-width: 100%;
  }
}

@media (max-width: 376px) {
  .body_flex {
    display: block;
  }

  .logo_red {
    width: 150px;
    margin-top: 15px;
  }

  .content {
    max-width: 100%;
  }

  .header_text {
    font-size: 1.5rem;
    line-height: 0.5;
    margin-right: 20px;
  }
}


